.nav {
    background-image: linear-gradient(0deg, #003e7f, #1da4db);
    text-align: center;
    height: 60px;
}

.nav::after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.nav a {
    color: white;
    text-decoration: none;
    padding-right: 1%;
    border-right: 2px solid #64a6d3;
    font-size: 18px;
}

.nav a:last-child {
    padding-right: 0;
    border-right: none;
}

@media screen and ( max-width:800px) {
    .nav {
        height: 150px;
    }
    .nav a {
        display: block;
        border-right: none;
    }
}